
/*
	= Header	
*******************************************************************************************/
.navbar-wrapper{
	position: static;
}
.navbar-wrapper .container{
	padding: 0;
}
.navbar{
	border: none;
}

.left{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.brand{
	margin-bottom: 20px;
}
#search-2{
	float: right;
}


/* Tablet ***************************************************************/
@include tablet {
  
} //end tablet

/* Tablet-landscape ******************************************************/
@include tablet-landscape {
  
} //end tablet-landscape

/* Desktop ******************************************************/
@include desktop {
  
} //end desktop