/*
	= Home 	
*******************************************************************************************/

.mainpage .maincontent{
	background-color: #FFF;
}
a.learnmore{
	color: #FFF;
	background-color: $darkgrey;
	padding: 10px;
	border-radius: 5px;
	width: 100%;
	margin-top:20px;
}



/* Tablet ***************************************************************/
@include tablet {
  
} //end tablet

/* Tablet-landscape ******************************************************/
@include tablet-landscape {
  
} //end tablet-landscape

/* Desktop ******************************************************/
@include desktop {
  
} //end desktop