/*
	= General	
*******************************************************************************************/

html { overflow-x:hidden; } 
body { overflow:hidden; }
.container {
	width:100%;
	max-width:1168px;
}
body {
  font:$regular 15px/130% $font-stack;
  color: $primary-color;
  padding-bottom: 0;
  background-color: #EEEEEE;
}
img{
	max-width: 100%;
	height: auto;
}
.wp-caption {
    background-color:#fdfdfd;
    border:1px solid #CDC1CF;
    padding:5px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    4px 4px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         4px 4px 5px 0px rgba(0, 0, 0, 0.2);
    img {
        width:100%;
        height:auto;
    }
.wp-caption-text {
        margin-bottom:0;
        font-size:12px;
        font-style:italic;
        color:#111;
    }
}
.alignleft {
    float:left;
    margin-right:15px;
}
.aligncenter {
    margin:15px auto;
    display:block;
}
.alignright {
    float:right;
    margin-left:15px;
}
input[type="submit"] {
	-webkit-appearance:none;
	-moz-appearance:none;
}
a {
	color: $primary-color;
}
em {
	font-style:italic;
}
strong {
	font-weight:bold;
}
p {
	margin-bottom:15px;
}
blockquote, blockquote * {
	color: $primary-color;
	font:$bold-italic 18px/130% $font-stack;
	margin:15px 0;
}
h1, h2, h3, h4, h5, h6 {
	color: $primary-color;
	margin:30px 0 15px;
}
h2 { font-size:30px; }
h3 { font-size:24px; }
h4 { font-size:20px; }
h5 { font-size:16px; }
h6 { font-size:14px;text-transform:uppercase; }

>h2 { font-size:40px; }
ul {
	padding-left:30px;
	list-style-type:square;
	margin-bottom:15px;
	ul {
		padding-left:20px;
		list-style-type:disc;
		margin-bottom:0;
		ul {
			list-style-type:circle;
		}
	}
}
ol {
	padding-left:30px;
	list-style-type:decimal;
	margin-bottom:15px;
	ul {
		padding-left:20px;
		list-style-type:disc;
		margin-bottom:0;
		ul {
			list-style-type:circle;
		}
	}
	ol {
		padding-left:20px;
	}
}
